<%= form_for(order) do |f| %> 
<% if order.errors.any? %> 
<div id="error_explanation"> 
<h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2> 
<ul> 
<% order.errors.full_messages.each do |message| %> 
<li><%= message %></li> 
<% end %> 
</ul> 
</div> 
<% end %>
<div class="form-group"> 
<%= f.label :name %> 
<%= f.text_field :name, size: 40, class: 'form-control' %>
</div> 
<div class="form-group"> 
<%= f.label :address %> 
<%= f.text_area :address, class: 'form-control', rows: 3, cols: 40 %>
</div> <div class="form-group"> 
<%= f.label :email %> 
<%= f.email_field :email, size: 40, class: 'form-control' %>
</div>
 <div class="actions"> 
 <%= link_to 'Back', orders_path, :class => 'btn btn-danger' %>
 <%= f.submit 'Send', :class => 'btn btn-success pull-right' %>
</div> 
<% end %>
<strong>Products:</strong>

<% order.line_items.each do |line_item| %>
  <p>
    <%= line_item.quantity %>&times; , <%= line_item.product.name %>, <%= image_tag(line_item.product.image, :style => "height: 50px") %> , <%= line_item.product.price %>     
  </p>    
 <%= button_to 'Remove Product', line_item, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
 <%= link_to 'Edit Product', edit_line_item_path(line_item), :class => 'btn btn-success' %> 
</div>
<% end %>


