<p id="notice"><%= notice %></p>

<p>
  <strong>Order id</strong>
  <%= @order.id %>
<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<strong>Products:</strong>
<% @order.line_items.each do |line_item| %>
  <p>
    <%= line_item.quantity %>&times; , <%= line_item.product.name %>, <%= image_tag(line_item.product.image, :style => "height: 50px") %> , <%= line_item.product.description %> , <%= line_item.product.price %>     
  </p> 
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', "/admin/orders" %>
