<p id="notice"><%= notice %></p>
<div class="table-responsive">
<table class="table">
<thead>
<tr>
  <th>Name</th>
  <th>Description</th>
  <th>Image</th>
  <th>Price</th>
  <th>Stock</th>  
  <th></th>
  <th class="btn btn-success" width="100%"><%= link_to 'Create', "/admin/products/new" %></th>
</tr>
</thead>

<tbody>
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= image_tag(product.image, :style => "height: 50px") %></td>
    <td><%= product.price %></td>
    <td><%= product.stock %></td>    
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= button_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr> 
<% end %>
</tbody>
</table>
</div>
  
