<p id="notice"><%= notice %></p>
<h1>Products</h1>
<div class="table-responsive">
<table class="table">
<thead>
<tr witdh="100%">
  <th>Name</th>
  <th>Description</th>
  <th>Image</th>
  <th>Price</th>
  <th>Stock</th>  
  <th></th>
  <th><%= link_to 'Create', "/admin/products/new", :class => 'btn btn-success' %></th>
</tr>
</thead>

<tbody>
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= image_tag(product.image, :style => "height: 50px") %></td>
    <td><%= product.price %></td>
    <td><%= product.stock %></td>    
    <td><%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-default' %></td>
    <td><%= button_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
  </tr> 
<% end %>
</tbody>
</table>
</div>
  
