<p id="notice"><%= notice %></p>

<div class="inner">
  <h1><strong>Name:</strong><%= @product.name %></h1>
  <span class="image main">  <%= image_tag(@product.image) %> </span>
  <p><strong>Description:</strong><%= @product.description %></p>
  <p><strong>Price:</strong><span class="product-price"><%= number_to_currency(@product.price) %></span></p>
  <p><strong>Stock:</strong><span class="product-price"><%= @product.stock %></span></p>
</div>

 <%= button_to 'Add to Cart', line_items_path(product_id: @product), remote: true %> 
<%= link_to 'Back', store_url %>
