<% @products.each do |product| %>
<div class="card col-md-3">
<img src=<%= product.image %> />
<div class="container-card">
  <h4><b><%= product.name %></b></h4>
  <p><%= product.price %></p> 
  <p><%= product.stock %></p>
  <button class="btn btn-success">Add to cart</button>
  <%= link_to 'Show', product, { :class=>"btn btn-danger" } %>
</div>
</div>
<% end %>

