              
							<section class="tiles" id="all-products">
              <% cache @products do %>
                <% @products.each do |product| %> 
                  <% cache product do %>
                  <article class="style2"> 
                    <span class="image">
                      <%= image_tag(product.image) %> 
                    </span>
                    <div class="product">
										<% if product.stock > 0 %>
											<%= link_to product do %> 
                      <h2><%= product.name %></h2>
                      <div class="content"> 										
                        <p><span class="product-price"><%= number_to_currency(product.price) %></span></p>                                                           
                      </div>
											<% end %> 
										<% else %>
										<h2><%= product.name %></h2>
                      <div class="content"> 	
												<p>Product out of order</p>									
                        <p><span class="product-price"><%= number_to_currency(product.price) %></span></p>                                                           
                      </div>
										<% end %>     
                    </div>        
                  </article> 
                  <% end %>
                <% end %>
              <% end %>					
							</section>
								<% if @allowPagination %>
							<nav aria-label="Page navigation" class="row">
							<ul class="pagination">

							<% if @isNotFirstPage %>
							<li>
							<%= link_to(content_tag(:span, "<<") , store_path(:page => @firstPage)) %>
							</li>
							<% end %>


							<% for i in 1..@pageCount do %>
							<li><%= link_to i, store_path(:page => i) %></li>
							<% end %> 
							<% if @isNotLastPage %>
							<li>
							<%= link_to(content_tag(:span, ">>") , store_path(:page => @lastPage)) %>
							</li>
							<% end %>
    
 
							</ul>
							</nav>	
								<% end %>	
								<nav aria-label="Page navigation">
  

					


