<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Shop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <% if flash[:danger] %>
  <div class="danger"><%= flash[:danger] %></div>
<% end %>
  <%= render 'layouts/header' %>
    <div class="container">    
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
